body {
   
    background-image: url("images/fondo2.jpg");
    background-repeat:repeat;
   
    
  } 
  
  body header {
    width: 100%;
  }




*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    
}
 /* /////////////////// NAV BAR//////////////// */

/* default css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header-area {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.5)),
    url(https://images.unsplash.com/photo-1528353518104-dbd48bee7bc4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
    background-position: center center;
    background-size: cover;
  }
  /* default css end */
  
  
  /* navbar regular css start */
  .navbar-area {
    background: rgba(0,0,0,.6);
    border-bottom: 1px solid #000;
  }
  .site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a.site-logo {
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .site-navbar ul li a {
    color: #fff;
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }
  .site-navbar ul li a:hover {
    background: rgba(255,255,255,.1);
  }
  /* navbar regular css end */
  
  
  /* nav-toggler css start */
  .nav-toggler {
    border: 3px solid #fff;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }
  /* nav-toggler css start */
  
  
  /* intro-area css start */
  .intro-area {
    height: calc(100vh - 61px);
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .intro-area h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
  }
  .intro-area p {
    font-size: 18px;
  }
  /* intro-area css end */
  
  
  /* mobile breakpoint start */
  @media screen and (max-width: 767px) {
    .container {
      max-width: 720px;
    }
    /* navbar css for mobile start */
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 60px);
      left: 0;
      top: 60px;
      flex-direction: column;
      align-items: center;
      border-top: 1px solid #444;
      background-color: rgba(0,0,0,.75);
      max-height: 0;
      overflow: hidden;
      transition: .3s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .site-navbar ul li a {
      padding: 25px;
    }
    .site-navbar ul li a:hover {
      background-color: rgba(255,255,255,.1);
    }
    .site-navbar ul.open {
      max-height: 100vh;
      overflow: visible;
    }
    .intro-area h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }  
    /* navbar css for mobile end */
  }
  /* mobile breakpoint end */





 
 

     


    
 
     







footer {
    
    color: white;
    
    width: 100%;
    height:100px;
    position: fixed;
bottom: 60px;
   
   
   
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:768px) {
footer{
   
    
    width: 100%;
    position: relative;
   
    

    
}
.footer-content{
   height: 68px;
    padding-bottom: 45px;
}
}

@media (max-width:425px) {
    .footer-bottom{
        width: 520px;
    }
} 
@media (max-width:375px) {
    footer{
       padding-top: 30px;
        width: 100%;
        position:fixed;
        bottom:50px
       
        
    }
 
    .footer-bottom{
        width:520px;
        height:70px;
        padding-bottom: 15px;
    }
    }


.social a img{
    width:50px
}


/* ////////////////////////////////////  M A I N //////////////////*/


@import url("https://fonts.googleapis.com/css?family=Poppins:400");

html{
  font: 16px/1.6 'Poppins', system-ui, sans-serif;
}

[type="radio"]{
  display: none;
}
label{
  
    font-size: 18px;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.25s;
}
[type="radio"]:checked + label{
	background: #27bcda;
}
[type="radio"]:nth-of-type(2):checked ~ .gallery .card:not(.anatomicas),
[type="radio"]:nth-of-type(3):checked ~ .gallery .card:not(.pileta),
[type="radio"]:nth-of-type(4):checked ~ .gallery .card:not(.accesorios),
[type="radio"]:nth-of-type(5):checked ~ .gallery .card:not(.tapizados)
{
  display: none;
}
.gallery{
  display: grid;
	justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  padding: 2rem;
  margin-top: 1rem;
}
.card{
  margin: 0;
  background: black;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0 10px silver;
  transition: box-shadow 0.35s;
}
.card:hover{
  box-shadow: 0 0 25px #0009;
}
.card__image{
  width: 100%;
  object-fit: cover;
}
.card__caption{
	font-weight: bold;
  font-variant: small-caps;
  padding: 0.5rem;
  text-align: center;
  color: #27bcda;
} 










/* ///////////////////////////////////////////////////////////////////////// */















/* ///////////////////////////////////////////////////////////////////////// */
  
 




 







