


 body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("images/fondo1.jpg");
    background-repeat:repeat;
    padding: 2em 1rem;
    
  } 
  
  body header {
    width: 100%;
  }




*{
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    
}

.nav{
    
    color: white;
    height: 195px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.nav-title{
    width: 30%;
    
    padding: 16px 40px;
    text-align: center;

}


.nav-menu{
    width: 70%;
}

.nav-menu ul{
    display: flex;
    justify-content:center;
    list-style-type: none;
}

.nav-menu ul li a{
    
    padding: 10px 30px;
    color: black;
    font-size: 23px;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
}

.nav-menu ul li a:hover{
    color: #fff;
    font-weight: bold;
}

/*style for responsive menu*/

@media screen and (max-width:1000px){
   .nav{
       height: auto;
   }
   .nav .nav-title{
       text-align: left;
       width: 100%;
   }

   .nav .nav-menu{
       width: 100%;
   }
   .nav .nav-menu ul{
       justify-content: space-around;
   }

   .nav .nav-menu ul li{
       width: 30%;
       padding: 10px 0px;
       text-align: center;
       font-size: 16px;
   }
}



.container{
    
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
   
   
    
       
 }
 
 
 
 .info{
     
     margin: 0.5rem;
     border: 3px;
     padding: 0.5rem;
     font-size: 20px;
     font-family:initial;
     
 
 }
 
 
 @media screen and (max-width:800px){
   .info{
       grid-column: 2 / span 1;
       font-size: 20px;
    }
 
  
   
     .container{
       grid-template-rows: repeat(3, 200px);
       
    }

    .info:hover{
        color: white;
     }
   
 
     }
 
     @media screen and (max-width:375px){
        .container{
            padding-left:130px;
        }
        .info{
            font-size:20px
        }
        .nav-menu{
            width:100%;
            position: relative;
            left: 70px;
        }
        .nav-menu ul{
            width: 100%;
        }
     }

     @media screen and (max-width:320px){
        .container{
            padding-left:190px

        }
        .nav-menu{
        position: relative;
        left: 90px;
      
        
            
        }
        .nav .nav-menu ul li{
            width: 35%;
        

      
        }

      
      
     }


    
 
     







footer {
    z-index: 100;
    color: white;
    
    width: 100%;
    height:100px;
    position: absolute;
   
   
   
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:768px) {
footer{
   
    
    width: 100%;
    position: relative;
   
    

    
}
.footer-content{
   height: 68px;
    padding-bottom: 45px;
}
}

@media (max-width:425px) {
    .footer-bottom{
        width: 520px;
    }
}
@media (max-width:375px) {
    footer{
       
        width: 100%;
        position: relative;
       
        
    }
 
    .footer-bottom{
        width:520px;
        height:70px;
        padding-bottom: 15px;
    }
    }


.social a img{
    width:50px
}


/* //////////////////////////////////// */




#slideshow {
	margin: 0 auto;
	padding-top: 50px;
	height: 600px;
	width: 100%;
	background-color:transparent;
	box-sizing: border-box;
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}
